
.circle1 {
background-image: url('../images/1.jpg');
background-size: cover;
}
.circle2 {
    background-image: url('../images/2.jpg');
    background-size: cover;
}
.circle3 {
    background-image: url('../images/3.jpg');
    background-size: cover;
}
